<VirtualHost *:80>
  ServerName app.local
  DocumentRoot /vagrant/project/webroot
  <Directory /vagrant/project/webroot>
    DirectoryIndex index.php
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
